<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968905452769-8k9bem7quretuvbtbp3n4toja36o993l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968905452769-8k9bem7quretuvbtbp3n4toja36o993l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>968905452769-p95s7381df8tk2o67p0bvjvvfm0vcrdi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8cY5mfE9oaXhrP8Dc8rGrKIMMWP1ye0w</string>
	<key>GCM_SENDER_ID</key>
	<string>968905452769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ChoTuve</string>
	<key>PROJECT_ID</key>
	<string>chotuve-grupo8</string>
	<key>STORAGE_BUCKET</key>
	<string>chotuve-grupo8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968905452769:ios:158b82c212b06f31301ba0</string>
	<key>DATABASE_URL</key>
	<string>https://chotuve-grupo8.firebaseio.com</string>
</dict>
</plist>